
@{
    ViewData["Title"] = "AccessForbiddenToContent";
    Layout = "~/Views/Shared/_ErrorPageLayout.cshtml";
}

<h1>Access Denied</h1>

<p>You do not have access to this page</p>
<p>You can continue at other page, e.g. at <a asp-controller="Home" asp-action="Index">Home</a> page</p>
